PORT=5000
NODE_ENV=development

DATABASE_URL="postgres://5bcea41febf337d72dd48013714188623a8a250c28c5796a8e8f780c11660ec1:sk_QSq1lazKhd7OLWLPpdB8j@db.prisma.io:5432/postgres?sslmode=require"

JWT_SECRET="test_secret_key"
JWT_EXPIRES_IN="1h"